.card-container{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    border: #585858 2px solid;
}

.card-imagem{
    width: 220px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}